### 1.Mean/Median Imputation<br>A. When Data is equally distributed use Mean <br> B. When Data is Skewed Use Median

### Benenfits
1.It Is simple Tachnique<br>
2.Use when Data is Null value is less than of 5% of Data(>5%)

### Disadvantages
1.It changes Data Distribution Shape<br>
2.It Generates Ouliers In the Data<br>
3.It changes Correlation between columns.

### Where to use
1.Missing Value at Random.<br>
2.When Missing valus is Less than of 5% of the data.(>5%)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [3]:
df=pd.read_csv("titanic_toy.csv")

In [4]:
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Fare      846 non-null    float64
 2   Family    891 non-null    int64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [6]:
df.isnull().mean()

Age         0.198653
Fare        0.050505
Family      0.000000
Survived    0.000000
dtype: float64

##### From the Above data we can see that , Age has 19% Missing values  and Fare has 0.05% missing values

In [7]:
X=df.drop(columns=["Survived"])
Y=df["Survived"]

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [10]:
X_train.shape,X_test.shape

((712, 3), (179, 3))

In [11]:
X_train.isnull().mean()

Age       0.196629
Fare      0.050562
Family    0.000000
dtype: float64

##### we are replacing the value in X_test with the same imputer we are using in X_train

In [12]:
median_age=X_train["Age"].median()
mean_age=X_train["Age"].mean()

median_fare=X_train["Fare"].median()
mean_fare=X_train["Fare"].mean()

In [13]:
X_train["Age_median"]=X_train["Age"].fillna(median_age)
X_train["Age_Mean"]=X_train["Age"].fillna(mean_age)

X_train["Fare_median"]=X_train["Fare"].fillna(median_fare)
X_train["Fare_mean"]=X_train["Fare"].fillna(mean_fare)

In [14]:
X_train.sample(5)

      Age     Fare  Family  Age_median   Age_Mean  Fare_median  Fare_mean
26    NaN   7.2250       0        28.0  29.498846       7.2250     7.2250
22   15.0   8.0292       0        15.0  15.000000       8.0292     8.0292
651  18.0  23.0000       1        18.0  18.000000      23.0000    23.0000
817  31.0  37.0042       2        31.0  31.000000      37.0042    37.0042
206  32.0  15.8500       1        32.0  32.000000      15.8500    15.8500

In [17]:
print("Original Age Variable Variance:",X_train["Age"].var())
print("Age Variable Variance After Mean Age Imputation:",X_train["Age_Mean"].var())
print("Age Variable Variance After Meadin Age Imputaion",X_train["Age_median"].var())

print("Original Fare Variable Variance:",X_train["Fare"].var())
print("Fare Variable Variance After Mean Fare Imputation:",X_train["Fare_mean"].var())
print("Fare Variable Variance After Median Fare Imputation:",X_train["Fare_median"].var())
#We are checking the Variance Before and after the imputation

Original Age Variable Variance: 210.2517072477438
Age Variable Variance After Mean Age Imputation: 168.8519336687225
Age Variable Variance After Meadin Age Imputaion 169.20731007048096
Original Fare Variable Variance: 2761.031434948639
Fare Variable Variance After Mean Fare Imputation: 2621.2323749512393
Fare Variable Variance After Median Fare Imputation: 2637.01248167777

#### We can see that Variance in Fare in Slightly Canges cause null values in Fare is relatively low <br> while in Age Column Variance is chnages cause large number of Null Values