## Encoding Categorical Variable

###### Types Of Categorical Variable<br>
1.Ordinal Categorical Data<br>
2.Nominal Categorical Data

###### 1.Ordinal Categorical Data
In this kind of data , follows a order , like review of movie eg.good, poor,average,good
or grades in class etc,

###### 2.Nominal Categorical Data
In this kinnd of data , don't follows and order, for e.g State of country Maharashtra, Gujrat,etc.
One Hot Encoding is used here

###### Ordinal Encoding-Applies for input column of ordinal data

###### Label Encoding-Applies for output column of ordinal Data

## Execution

In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv("customer.csv").head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

##### In the above data "gender" column is Nominal Categorical Data So we dropping it

In [5]:
df=pd.read_csv("customer.csv",usecols=["review","education","purchased"])

In [6]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [35]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2,random_state=0)

In [36]:
X_train.head(5)

     review education
33     Good        PG
35     Poor    School
26     Poor        PG
34  Average    School
18     Good    School

In [37]:
from sklearn.preprocessing import OrdinalEncoder

In [38]:
oe=OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]])

In [39]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [40]:
X_train_t=oe.transform(X_train)
X_test_t=oe.transform(X_test)

In [41]:
X_train_t

array([[2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [1., 1.]])

In [42]:
X_train=pd.DataFrame(X_train_t,columns=X_train.columns)
X_test=pd.DataFrame(X_test_t,columns=X_test.columns)

In [43]:
X_train

    review  education
0      2.0        2.0
1      0.0        0.0
2      0.0        2.0
3      1.0        0.0
4      2.0        0.0
5      0.0        0.0
6      0.0        2.0
7      0.0        2.0
8      2.0        1.0
9      1.0        1.0
10     0.0        1.0
11     1.0        1.0
12     1.0        1.0
13     0.0        1.0
14     2.0        2.0
15     1.0        0.0
16     0.0        2.0
17     1.0        1.0
18     1.0        0.0
19     2.0        0.0
20     1.0        0.0
21     0.0        1.0
22     2.0        0.0
23     2.0        1.0
24     0.0        1.0
25     0.0        0.0
26     1.0        2.0
27     1.0        2.0
28     2.0        0.0
29     2.0        0.0
30     2.0        1.0
31     1.0        2.0
32     0.0        2.0
33     2.0        1.0
34     0.0        2.0
35     0.0        2.0
36     2.0        2.0
37     1.0        0.0
38     2.0        2.0
39     1.0        1.0

In [44]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
Le=LabelEncoder()

In [48]:
Le.fit(Y_train)

LabelEncoder()

In [49]:
Y_train=Le.transform(Y_train)
Y_test=Le.transform(Y_test)

In [51]:
Y_train

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])

###### Succesfully Applied Ordinal Encoding and Label Encoding

#### Conclude