In [2]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv("play_tennis.csv")
data.head()
data.drop(columns=['day'],inplace=True)

In [5]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

### Problem 1
- outlook=sunny, temp=hot, Humidity=High, Wind=Weak
- Play or No play

### Solution
- P(Yes|Sunny,Hot, High , Weak)=P(Sunny|yes)*P(Hot|Yes)*P(High|Yes)*P(Weak|Yes)*P(Yes)
- P(No|Sunny,Hot, High , Weak)=P(Sunny|No)*P(Hot|No)*P(High|No)*P(Weak|No)*P(No)
- Compare and Decide using Maximum a posteriori Rule

### Problem 2
- Outlook=Overcast , Temp=Cold , Humidity=Low , Wind=Weak
- Play or no Play

### Solution
- P(Yes|Overcast,Cold, Low , Weak)=P(Overcast|yes)*P(Cold|Yes)*P(Low|Yes)*P(Weak|Yes)*P(Yes)
- P(No|Overcast,Cold, Low , Weak)=P(Overcast|No)*P(Cold|No)*P(Low|No)*P(Weak|No)*P(No)
- Compare and Decide using Maximum a posteriori Rule

- Training
- Lookup table (Dictionary)
- Testing

- P(Yes)
- P(No)

In [6]:
data["play"].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [7]:
#Probablity of yes
py=9/14
#probablity of No
pn=5/14

In [8]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [10]:
#Outlook
pd.crosstab(data["outlook"],data["play"])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
#Probality overcast for no
Pon=0
#For rain
Prn=2/5
#For sunny
Psn=3/5

#probablity Overcast for Yes
Poy=4/9
#for Rain
Pry=3/9
#For Sunny
Psy=2/9

In [12]:
#Temprature
pd.crosstab(data["temp"],data["play"])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
#probablity of Cool for No
PCoolNo=1/5
#For Hot
PHotNo=2/5
#for Mild
PMildNo=2/5

#probablity of Cool for Yes
PCoolYes=3/9
#for Hot
PHotYes=2/9
#For Mild
PMildYes=4/9

In [14]:
#Humidity
pd.crosstab(data["humidity"],data["play"])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
#Probablity of high for no
PHighNo=4/5
#For Normal
PNormalNo=1/5

#Probablity of high for no
PHighYes=3/9
#for normal
PNormalYes=6/9

In [16]:
#Wind
pd.crosstab(data["wind"],data["play"])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [17]:
#Probablity of Strong for No
PStrongNo=3/5
#for Weak
PWeakNo=2/5

#Probablity of Strong for Yes
PStrongYes=3/9
#for Weak
PWeakYes=6/9

In [18]:
# outlook=sunny, temp=hot, Humidity=High, Wind=Weak

Pyes=py*Psy*PHotYes*PHighYes*PWeakYes
print(Pyes)

0.007054673721340388

In [20]:
Pno=pn*Psn*PHotNo*PHighNo*PWeakNo
print(Pno)

0.02742857142857143

- Compare and Decide using Maximum a posteriori Rule
- as Pyes<Pno
- We Conclude There will be no Play

# Conclude