In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [3]:
df=pd.read_csv("covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.nunique()

age          55
gender        2
fever         7
cough         2
city          4
has_covid     2
dtype: int64

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [13]:
X_train

    age  gender  fever   cough       city
3    31  Female   98.0    Mild    Kolkata
85   16  Female  103.0    Mild  Bangalore
48   66    Male   99.0  Strong  Bangalore
12   25  Female   99.0  Strong    Kolkata
26   19  Female  100.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
36   38  Female  101.0    Mild  Bangalore
47   18  Female  104.0    Mild  Bangalore
25   23    Male    NaN    Mild     Mumbai
66   51    Male  104.0    Mild    Kolkata
32   34  Female  101.0  Strong      Delhi

[80 rows x 5 columns]

# 1. Aam Zindagi

In [16]:
simple=SimpleImputer()
#adding simple imputer to train column
X_train_fever=simple.fit_transform(X_train[["fever"]])
#also to the test data
X_test_fever=simple.fit_transform(X_test[["fever"]])
X_train_fever.shapeape

(80, 1)

In [24]:
#Ordinal Encoding->Cough
Ordinal=OrdinalEncoder(categories=[["Mild","Strong"]])
#
X_train_cough=Ordinal.fit_transform(X_train[["cough"]])

X_test_cough=Ordinal.fit_transform(X_test[["cough"]])
#also the test data
X_train_cough.shape

(80, 1)

In [26]:
#OneHotEncoding->gender,city
ohe=OneHotEncoder(drop='first',sparse=False)

X_train_city=ohe.fit_transform(X_train[["gender",'city']])
#also on the test data
X_test_city=ohe.fit_transform(X_test[["gender","city"]])

X_train_city.shape

C:\Users\acer\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\acer\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 4)

In [28]:
#Extracting Age
X_train_age=X_train.drop(columns=["gender","fever","cough","city"]).values

#also from test data
X_test_age=X_test.drop(columns=["gender","fever","cough","city"]).values

In [30]:
X_train_age.shape

(80, 1)

In [33]:
#Combining all the data and transforming it
X_train_tras=np.concatenate((X_train_age,X_train_city,X_train_cough,X_train_fever),axis=1)

#also on the test data
X_test_tras=np.concatenate((X_test_age,X_test_city,X_test_cough,X_test_fever),axis=1)

In [34]:
X_train_tras.shape

(80, 7)

# 2.Mentos Zindagi

In [35]:
from sklearn.compose import ColumnTransformer

In [38]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),["fever"]),
     ('tnf2',OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"]),
     ('tnf3',OneHotEncoder(sparse=False,drop='first'),["gender","city"])
],remainder="passthrough")

In [40]:
transformer.fit_transform(X_train).shape

C:\Users\acer\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [41]:
transformer.fit_transform(X_test).shape

C:\Users\acer\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(20, 7)

# Conclude